//$Grotesque: 'Aktiv Grotesk', sans-serif;
$Archia: 'Archia', sans-serif;

$baseFontFamily: $Archia;

@mixin font-size($size:18) {
  font-size: $size * 1px;
  font-size: ($size / $baseFontSize) * 1rem;
}

$baseFontSize: 20;
$baseFontSizePixel: $baseFontSize * 1px;

$baseLineHeight: 1.4;
$baseLetterSpacing: 0;
$bodyBackground: #FFFFFF;

$background: #ffffff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$blackColor: #000000;
$blackColor-2: #060708;
$brownColor: #929090;
$whiteColor: #ffffff;
$whiteColor-2: #eaebec;
$whiteColor-3: #eeeef0;
$greyColor: #c4c4c4;
$blueColor: #3a56a5;
$blueColor-2: #282561;

$fontsUrl: "../fonts/";
$imgUrl: "../img/";

